html {
  background-color: lightgrey;
}

.main {
  margin: 2% 20%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 27px;
}

h1 {
  font-size: 40px;
}

.columns {
  display: flex;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

#photo {
  margin: 0;
  text-align: right;
}

#contact {
  margin: 1.5em 0em;
}

.section {
  background-color: white;
  padding: 2% 10%;
  margin: 2% 0%;
}

.justify {
  text-align: justify;
  text-justify: auto;
}

article {
  text-align: justify;
  text-justify: auto;
}